Host host-test-01*
  User vagrant
  Port 22
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /Users/malcolm/dev/bossjones/bossjones-playbook-suite/boss-ansible-role-nfs/.vagrant/machines/host-test-01/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host host-test-02*
  User vagrant
  Port 22
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /Users/malcolm/dev/bossjones/bossjones-playbook-suite/boss-ansible-role-nfs/.vagrant/machines/host-test-02/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

